@media (max-width: 480px) {
  .whole-container {
    min-width: 330px;
  }
  .circle {
    top: 50px;
    height: 330px;
  }
  .circle-container {
    min-width: 330px;
  }
  .stopwatch-container {
    top: 60%;
    min-width: 330px;
  }
  .button-container {
    width: 100%;
  }
  .segment-container {
    width: 70%;
  }
}
