@media (max-width: 480px) {
  .switch-container {
    top: 10px;
    right: 10px;
  }
  .whole-container {
    min-width: 330px;
  }
  .circle {
    top: 50px;
    height: 330px;
  }
  .circle-container {
    min-width: 330px;
  }
  .stopwatch-container {
    top: 400px;
    min-width: 330px;
  }
  .button-container {
    width: 100%;
  }
  .segment-container {
    width: 70%;
    height: 150px;
    overflow-y: scroll;
    margin-bottom: 30px;
  }
}
