@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap");
@media (min-width: 0px) {
  .switch-container {
    top: 10px;
    right: 10px;
  }
  .whole-container {
    min-width: 330px;
  }
  .circle {
    top: 50px;
    height: 330px;
  }
  .circle-container {
    min-width: 330px;
  }
  .stopwatch-container,
.timer-container {
    top: 400px;
    min-width: 330px;
  }
  .button-container,
.timer-button-container {
    width: 100%;
  }
  .segment-container {
    width: 70%;
    height: 150px;
    overflow-y: scroll;
    margin-bottom: 30px;
    width: 100%;
  }
  .timer-picker-container {
    width: 70%;
    height: 150px;
    margin-bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .segment-container {
    width: 95%;
  }
}
@media (min-width: 1025px) {
  .circle {
    top: 10px;
  }
  .stopwatch-container,
.timer-container {
    top: 350px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Inconsolata, monospace;
  box-sizing: border-box;
}

body {
  transition: background-color 0.5s ease-in-out;
}

.switch-container {
  position: absolute;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #008cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008cff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.whole-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 20%;
}

.right-container {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 20%;
}

.stopwatch-container,
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.button-container,
.timer-button-container {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.button-container button,
.timer-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}
.button-container .start,
.button-container .timer-start,
.timer-button-container .start,
.timer-button-container .timer-start {
  background-color: #008cff;
  height: 50px;
  width: 50px;
}
.button-container .start img,
.button-container .timer-start img,
.timer-button-container .start img,
.timer-button-container .timer-start img {
  height: 20px;
  margin-left: 4px;
}
.button-container .reset,
.button-container .segment,
.button-container .timer-reset,
.button-container .timer-soundpicker,
.timer-button-container .reset,
.timer-button-container .segment,
.timer-button-container .timer-reset,
.timer-button-container .timer-soundpicker {
  height: 40px;
  width: 40px;
}
.button-container .reset img,
.button-container .segment img,
.button-container .timer-reset img,
.button-container .timer-soundpicker img,
.timer-button-container .reset img,
.timer-button-container .segment img,
.timer-button-container .timer-reset img,
.timer-button-container .timer-soundpicker img {
  height: 24px;
}

.segment-container {
  margin-top: 20px;
}
.segment-container::-webkit-scrollbar {
  border-radius: 10px;
}
.segment-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.segment-container::-webkit-scrollbar-thumb {
  background-color: #008cff;
  border-radius: 10px;
}
.segment-container div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.timer-picker-container {
  margin-top: 20px;
}

.circle {
  border: 30px solid #ccc;
  position: relative;
  margin: auto;
  border-radius: 50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle input {
  border: none;
}

.line {
  width: 5px;
  height: 30px;
  background-color: cyan;
  position: absolute;
  overflow: hidden;
  margin: auto;
  transition: background-color 0.5s ease-in-out;
  transform: translateY(-150px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.display,
.timer-display {
  max-width: 77%;
  min-width: 77%;
  font-size: 45px;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
  position: absolute;
  text-align: center;
  background-color: transparent;
}

.segment-display {
  width: 50%;
  font-weight: 600;
  font-size: 25px;
  top: 70%;
  transition: color 0.5s ease-in-out;
  position: absolute;
  text-align: center;
  background-color: transparent;
}

.reveal-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.reveal-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ccc;
}

.segment-div {
  transition: all 0.5s ease-in-out;
  padding: 5px 0px;
  margin-right: 10px;
}
.segment-div p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}
.segment-div div div {
  font-size: 25px;
  display: flex;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(90deg) translate(-150px) rotate(90deg);
  }
  100% {
    transform: rotate(450deg) translate(-150px) rotate(90deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(90deg) translate(-150px) rotate(90deg);
  }
  100% {
    transform: rotate(450deg) translate(-150px) rotate(90deg);
  }
}
@-webkit-keyframes approach {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes approach {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */