// Imports
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap");
@import "helpers/mixins";
@import "helpers/media";
@import "helpers/variables";

// General
* {
  margin: 0;
  padding: 0;
  font-family: Inconsolata, monospace;
  box-sizing: border-box;
}

body {
  transition: $transition-background-color;
}

// Toggle Switch settings
.switch-container {
  position: absolute;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  @include position;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #008cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Containers
.whole-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 20%;
}

.right-container {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 20%;
}

.stopwatch-container,
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.timer-picker-container {
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  #number {
    display: flex;
    flex-direction: column;
    height: 100px;
    border: 2px solid gray;
    margin: 0px 10px;
    border-radius: 10px;
    user-select: none;
    overflow: hidden;
    scrollbar-width: none;
    transition: $transition-border-color;
    &::-webkit-scrollbar {
      display: none;
    }
    input {
      font-size: 45px;
      text-align: center;
      color: black;
      border: none;
      transition: $transition-color;
    }
  }
}

.number-container,
.input-container {
  display: flex;
  flex-direction: row;
}

.input-container {
  max-width: 100%;
  height: 20%;
  margin-top: 15px;
  input {
    width: 100%;
    margin: 0px 10px;
    text-align: center;
    font-size: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: $transition-background-color, $transition-border-color,
      $transition-color;
    &::placeholder {
      font-size: 20px;
      font-weight: 600;
    }
    &:focus {
      outline: none;
    }
  }
}

.white-placeholder::-webkit-input-placeholder {
  color: rgb(173, 173, 173);
  transition: $transition-color;
}

.timer-container {
  max-width: 100%;
}

.button-container,
.timer-button-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 255, 255);
  }
  .start,
  .timer-start {
    background-color: #008cff;
    height: 50px;
    width: 50px;
    img {
      height: 20px;
      margin-left: 4px;
    }
  }
  .reset,
  .segment,
  .timer-reset,
  .timer-soundpicker {
    height: 40px;
    width: 40px;
    img {
      height: 24px;
    }
  }
}

.segment-container {
  margin-top: 20px;
  &::-webkit-scrollbar {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #008cff;
    border-radius: 10px;
  }
  div {
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 500;
      align-items: center;
    }
  }
}

.modal-container {
  border: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

// Certain elements
.circle {
  border: 30px solid #ccc;
  position: relative;
  margin: auto;
  border-radius: 50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
  }
}

.line {
  width: 5px;
  height: 30px;
  background-color: cyan;
  position: absolute;
  overflow: hidden;
  margin: auto;
  transition: $transition-background-color;
  transform: translateY(-150px);
  @include position;
}

.display,
.timer-display {
  max-width: 77%;
  min-width: 77%;
  font-size: 45px;
  font-weight: 600;
  transition: $transition-color;
  @include display;
}

.segment-display {
  width: 50%;
  font-weight: 600;
  font-size: 25px;
  top: 70%;
  transition: $transition-color;
  @include display;
}

.reveal-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccc;
  }
}

.segment-div {
  transition: all 0.5s ease-in-out;
  padding: 5px 0px;
  margin-right: 10px;
  p {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
  }
  div {
    div {
      font-size: 25px;
      display: flex;
    }
  }
}

.modal-content {
  width: 250px;
  height: 300px;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    height: 20%;
    label {
      font-weight: 600;
      user-select: none;
      cursor: pointer;
    }
    input {
      cursor: pointer;
    }
  }
}
.active {
  background-color: lightblue;
  border-radius: 20px;
}

// Animations
@keyframes circle {
  0% {
    transform: rotate(90deg) translate(-150px) rotate(90deg);
  }
  100% {
    transform: rotate(450deg) translate(-150px) rotate(90deg);
  }
}

@keyframes reverse-circle {
  0% {
    transform: rotate(90deg) translate(-150px) rotate(90deg);
  }
  100% {
    transform: rotate(-270deg) translate(-150px) rotate(90deg);
  }
}

@keyframes approach {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes reject {
  0% {
    border: 2px solid red;
    transform: translateX(0px);
  }
  25% {
    border: 2px solid red;
    transform: translateX(5px);
  }
  50% {
    border: 2px solid red;
    transform: translateX(-5px);
  }
  75% {
    border: 2px solid red;
    transform: translateX(5px);
  }
  100% {
    border: 2px solid gray;
    transform: translateX(0px);
  }
}

@keyframes update-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disable-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes enable-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
