@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  box-sizing: border-box;
}

.whole-container {
  display: flex;
  flex-direction: column;
  max-width: 11.2%;
  margin: auto;
  margin-top: 10%;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    padding: auto;
    border: none;
  }
}

.display {
  max-width: 100%;
  font-size: 40px;
}

.segment-display {
  width: 62%;
  font-size: 25px;
}

.button-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 110%;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 15px;
  }
  .start {
    background-color: rgb(65, 144, 248);
    img {
      height: 20px;
      margin-left: 4px;
    }
  }
}
.second-segment-container {
  margin-top: 20px;
}
.segment-div {
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.second-segment-container div div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-segment-container div div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}